[submodule ".vim/bundle/vundle.git"]
	path = .vim/bundle/vundle.git
	url = git://github.com/gmarik/vundle.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
